.inline-block {
  display: inline-block; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.empty-height {
  height: 30px;
  width: 100%; }

.empty-height_mini {
  height: 15px;
  width: 100%; }

.cursor-pointer {
  cursor: pointer; }

.users {
  background: #e6e6e6;
  width: 1024px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.user {
  font-size: 20px;
  color: #4090ff;
  padding: 20px 20px 20px 0px; }

.user-column-val {
  margin-left: 10px; }
