.inline-block
  display: inline-block
.float-left
  float: left
.float-right
  float: right
.empty-height
  height: 30px
  width: 100%
.empty-height_mini
  height: 15px
  width: 100%
.cursor-pointer
  cursor: pointer