.users
  background: #e6e6e6
  width: 1024px
  margin: 0 auto
  padding-left: 15px
  padding-right: 15px
.user
  font-size: 20px
  color: $blue
  padding: 20px 20px 20px 0px
//.user-email
  margin-left: 10px
.user-column-val
  margin-left: 10px